
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bgColor: #e6ecf0;

body {
  background-color: $bgColor;
}

.bg-white {
  background-color: white;
}

.bg-0 {
  background-color: #eee;
}

.bg-1 {
  background-color: #ccc;
}

.bg-2 {
  background-color: #aaa;
}
.c-2 {
  color: #aaa;
}

.bg-3 {
  background-color: #777;
}
.c-3 {
  color: #777;
}



.flex {
  display: flex;
}

.flex-h {
  flex-direction: row;
}

.flex-v {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-center {
  justify-content: center;
}

.full-page {
  height: 100vh;
}



.ml-200 {
  margin-left: 200px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-10 {
  padding: 10px;
}


.lh-1 {
  line-height: 1;
}

.fz-3 {
  font-size: 24px;
}

.fz-4 {
  font-size: 30px;
}

.fw-bold {
  font-weight: bold;
  color: black;
}



.circular {
  border-radius: 50%;
}

.btn-rounded {
  border-radius: 50px;
  &:hover {
    background-color: lighten($primary, 35%);
  }
}
